@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: inter;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 650px;
  color: #273b52;
  background-color: #f1f5f8;
  font-family: "Inter", sans-serif;
}
